* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: aliceblue;
  color: #0f0f0f;
}

header {
  height: 100vh;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4vh 8vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .logo {
  height: 10vh;
}

header .nav .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header .nav .sections a {
  text-decoration: none;
  color: #0f0f0f;
}

header .nav .sections h3 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 4vw;
}

header .nav .sections h3:hover {
  position: relative;
  top: -2px;
}

header .nav .sections .fa-shopping-basket {
  margin-left: 3vw;
  font-size: 24px;
}

header .nav .sections .fa-shopping-basket:hover {
  position: relative;
  top: -2px;
}

header .nav .sections input {
  margin-left: 4vw;
  border: none;
  padding: 2vh 2vw;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 2px 2px 4px #507cdb41;
          box-shadow: 2px 2px 4px #507cdb41;
}

header .nav .sections input:focus {
  -webkit-appearance: none;
  outline: none;
  -webkit-box-shadow: 8px 4px 4px #507cdb41;
          box-shadow: 8px 4px 4px #507cdb41;
}

header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0vh 8vw;
  padding-bottom: 4vh;
  height: 80vh;
}

header .main .main-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .main .main-image img {
  height: 12vw;
}

header .main .main-image img:hover {
  height: 12.5vw;
}

header .main .main-image .image1 {
  position: absolute;
  top: 14vw;
}

header .main .main-image .image2 {
  position: absolute;
  top: 22vw;
  right: 22vw;
}

header .main .main-image .image3 {
  position: absolute;
  top: 34vw;
  right: 34vw;
}

header .main .main-image .image4 {
  position: absolute;
  top: 34vw;
  right: 12vw;
}

header .main .main-image .image5 {
  position: absolute;
  top: 12vw;
  right: 12vw;
}

header .main .main-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main .main-text h1 {
  font-size: 6vw;
  font-weight: 700;
}

header .main .main-text h4 {
  font-size: 1vw;
  font-weight: 500;
  color: #1d3e5ecb;
  margin: 3vh 0;
}

header .main .main-text span {
  font-weight: 300;
}

header .main .main-text .creative {
  background: -webkit-linear-gradient(-250deg, #a5cdfa, #fa9fd7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

header .main .main-text .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main .main-text .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8vw;
  height: 6vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-top: 2vh;
  background-color: #46042f;
  color: white;
  border-radius: 15px;
  font-size: 1vw;
}

header .main .main-text .btn:hover {
  background-color: #680c48;
  position: relative;
  top: -2px;
  left: -2px;
}

header .main .main-text .btn:active {
  background-color: #941367;
}

header .main .main-text a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */