* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    background-color: aliceblue;
    color: #0f0f0f;
}

header {

    margin-bottom: 2vw;
    .nav {
        display: flex;
        justify-content: space-between;

        padding: 2.5vw 8vw;
        font-weight: 300;
        font-style: normal;

        align-items: center;

        .logo{
            height: 6vw;
        }
        .sections {
            display: flex;
            align-items: baseline;

            a {
                text-decoration: none;
                color: #0f0f0f;


            }

            h3 {
                font-size: 1vw;
                margin-left: 4vw;

                &:hover {
                    position: relative;
                    top: -.05vw;
                }
            }

            .fa-shopping-basket {
                margin-left: 3vw;
                font-size: 1.5vw;

                &:hover {
                    position: relative;
                    top: -.05vw;
                }
            }

            input {
                width: 7vw;
                margin-left: 4vw;
                border: none;
                padding: 1vw 2vw;
                border-radius: 15px;
                position: relative;
                box-shadow: .2vw .2vw .4vw #507cdb41;
                
                &:focus {
                    -webkit-appearance: none;
                    outline: none;
                    box-shadow: .3vw .3vw .5vw#507cdb5b;
                }

            }
        }


    }

    .main{
        display: flex;
        align-items: center;

        padding: 0 8vw;

        .main-image{
            flex: 1;
    
            img{
                height: 12vw;

                &:hover{
                    height: 12.5vw;
                }
            }

            .image1{
                position: absolute;
                top: 17vw;
                right: 34vw;
            }

            .image2{
                position: absolute;
                top: 25vw;
                right: 21vw;
            }

            .image3{
                position: absolute;
                top: 37vw;
                right: 31vw;
            }

            .image4{
                position: absolute;
                top: 37vw;
                right: 9vw;
            }

            .image5{
                position: absolute;
                top: 16vw;
                right: 9vw;
            }
        }

        .main-text{
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            h1{
                font-size: 5.5vw;
                font-weight: 700;
            }

            h4{
                font-size: 1vw;
                font-weight: 500;
                color: #1d3e5ecb;
                margin: 2vw 0;
            }

            span{
                font-weight: 300;
            }

            .creative{
                background: -webkit-linear-gradient(-250deg,rgb(165, 205, 250), rgb(250, 159, 215));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;            
                font-weight: 700;

            }

            .btns{
                display: flex;
            }

            .btn{
                display: flex;
                width: 8vw;
                height: 3.5vw;
                justify-content: center;
                align-items: center;
                margin-right: 1vw;
                margin-top: .5vw;
                margin-bottom: 4vw;
                background-color: #46042f;
                color: rgb(255, 255, 255);
                border-radius: 15px;
                font-size: 1vw;
                &:hover{
                    background-color: #680c48;
                    position: relative;
                    top: -.05vw;   
                    left: -.05vw; 
                }
                &:active{
                    background-color: #941367;
                }
            }
            
            a{
                text-decoration: none;
            }

        }


       
        
    }
}

.details{
    height: 56vw;

    // remove todo
    background-color: rgb(22, 116, 209)
}