* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: aliceblue;
  color: #0f0f0f;
}

@media only screen and (min-width: 1681px) {
  header {
    padding: 2% 15%;
    min-height: 1080px;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 300;
    font-style: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav .logo {
    height: 100px;
  }
  header .nav .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header .nav .sections a {
    text-decoration: none;
    color: #0f0f0f;
  }
  header .nav .sections h3 {
    font-size: 1.4rem;
    margin-left: 60px;
  }
  header .nav .sections h3:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections .fa-shopping-basket {
    margin-left: 60px;
    font-size: 1.4rem;
  }
  header .nav .sections .fa-shopping-basket:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections input {
    width: 180px;
    margin-left: 60px;
    border: none;
    padding: 20px 40px;
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 2px 2px 4px #507cdb5b;
            box-shadow: 2px 2px 4px #507cdb5b;
  }
  header .nav .sections input:focus {
    -webkit-appearance: none;
    outline: none;
    -webkit-box-shadow: 4px 4px 8px #507cdb5b;
            box-shadow: 4px 4px 8px #507cdb5b;
  }
  header .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 120px;
  }
  header .main .main-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-image img {
    height: 200px;
  }
  header .main .main-image img:hover {
    position: relative;
    top: -5px;
  }
  header .main .main-image .imgs1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-image .imgs2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main .main-image .imgs3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-text h1 {
    font-size: 6rem;
    font-weight: 700;
  }
  header .main .main-text h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1d3e5ecb;
    margin: 30px 0;
  }
  header .main .main-text span {
    font-weight: 300;
  }
  header .main .main-text .creative {
    background: -webkit-linear-gradient(-250deg, #a5cdfa, #fa9fd7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 7rem;
  }
  header .main .main-text .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .main .main-text .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    min-height: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    margin-top: 20px;
    background-color: #46042f;
    color: white;
    border-radius: 15px;
    font-size: 1.1rem;
  }
  header .main .main-text .btn:hover {
    background-color: #680c48;
    position: relative;
    top: -5px;
    left: -5px;
  }
  header .main .main-text .btn:active {
    background-color: #941367;
  }
  header .main .main-text a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 1681px) and (min-width: 1367px) {
  header {
    padding: 2% 15%;
    min-height: 864px;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 300;
    font-style: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav .logo {
    height: 80px;
  }
  header .nav .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header .nav .sections a {
    text-decoration: none;
    color: #0f0f0f;
  }
  header .nav .sections h3 {
    font-size: 1.2rem;
    margin-left: 40px;
  }
  header .nav .sections h3:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections .fa-shopping-basket {
    margin-left: 40px;
    font-size: 1.2rem;
  }
  header .nav .sections .fa-shopping-basket:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections input {
    width: 140px;
    margin-left: 40px;
    border: none;
    padding: 20px 40px;
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 2px 2px 4px #507cdb5b;
            box-shadow: 2px 2px 4px #507cdb5b;
  }
  header .nav .sections input:focus {
    -webkit-appearance: none;
    outline: none;
    -webkit-box-shadow: 4px 4px 8px #507cdb5b;
            box-shadow: 4px 4px 8px #507cdb5b;
  }
  header .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 100px;
  }
  header .main .main-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-image img {
    height: 180px;
  }
  header .main .main-image img:hover {
    position: relative;
    top: -5px;
  }
  header .main .main-image .imgs1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-image .imgs2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main .main-image .imgs3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-text h1 {
    font-size: 5rem;
    font-weight: 700;
  }
  header .main .main-text h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #1d3e5ecb;
    margin: 30px 0;
  }
  header .main .main-text span {
    font-weight: 300;
  }
  header .main .main-text .creative {
    background: -webkit-linear-gradient(-250deg, #a5cdfa, #fa9fd7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  header .main .main-text .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .main .main-text .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    min-height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #46042f;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
  }
  header .main .main-text .btn:hover {
    background-color: #680c48;
    position: relative;
    top: -5px;
    left: -5px;
  }
  header .main .main-text .btn:active {
    background-color: #941367;
  }
  header .main .main-text a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 1367px) and (min-width: 1281px) {
  header {
    padding: 2% 15%;
    min-height: 768px;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 300;
    font-style: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav .logo {
    height: 80px;
  }
  header .nav .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header .nav .sections a {
    text-decoration: none;
    color: #0f0f0f;
  }
  header .nav .sections h3 {
    font-size: 1rem;
    margin-left: 40px;
  }
  header .nav .sections h3:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections .fa-shopping-basket {
    margin-left: 40px;
    font-size: 1rem;
  }
  header .nav .sections .fa-shopping-basket:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections input {
    width: 120px;
    margin-left: 40px;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 2px 2px 4px #507cdb5b;
            box-shadow: 2px 2px 4px #507cdb5b;
  }
  header .nav .sections input:focus {
    -webkit-appearance: none;
    outline: none;
    -webkit-box-shadow: 4px 4px 8px #507cdb5b;
            box-shadow: 4px 4px 8px #507cdb5b;
  }
  header .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 80px;
  }
  header .main .main-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-image img {
    height: 160px;
  }
  header .main .main-image img:hover {
    position: relative;
    top: -5px;
  }
  header .main .main-image .imgs1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-image .imgs2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main .main-image .imgs3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-text h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  header .main .main-text h4 {
    font-size: .8rem;
    font-weight: 500;
    color: #1d3e5ecb;
    margin: 20px 0;
  }
  header .main .main-text span {
    font-weight: 300;
  }
  header .main .main-text .creative {
    background: -webkit-linear-gradient(-250deg, #a5cdfa, #fa9fd7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  header .main .main-text .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .main .main-text .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 130px;
    min-height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #46042f;
    color: white;
    border-radius: 15px;
    font-size: .8rem;
  }
  header .main .main-text .btn:hover {
    background-color: #680c48;
    position: relative;
    top: -5px;
    left: -5px;
  }
  header .main .main-text .btn:active {
    background-color: #941367;
  }
  header .main .main-text a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 1281px) and (min-width: 930px) {
  header {
    padding: 2% 10%;
    min-height: 800px;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 300;
    font-style: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav .logo {
    height: 70px;
  }
  header .nav .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header .nav .sections a {
    text-decoration: none;
    color: #0f0f0f;
  }
  header .nav .sections h3 {
    font-size: .9rem;
    margin-left: 30px;
  }
  header .nav .sections h3:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections .fa-shopping-basket {
    margin-left: 30px;
    font-size: 1rem;
  }
  header .nav .sections .fa-shopping-basket:hover {
    position: relative;
    top: -2px;
  }
  header .nav .sections input {
    width: 100px;
    margin-left: 30px;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 2px 2px 4px #507cdb5b;
            box-shadow: 2px 2px 4px #507cdb5b;
  }
  header .nav .sections input:focus {
    -webkit-appearance: none;
    outline: none;
    -webkit-box-shadow: 4px 4px 8px #507cdb5b;
            box-shadow: 4px 4px 8px #507cdb5b;
  }
  header .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0px;
  }
  header .main .main-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: auto;
  }
  header .main .main-image img {
    height: 150px;
  }
  header .main .main-image img:hover {
    position: relative;
    top: -5px;
  }
  header .main .main-image .imgs1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-image .imgs2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main .main-image .imgs3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-text h1 {
    font-size: 4.7rem;
    font-weight: 700;
  }
  header .main .main-text h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #1d3e5ecb;
    margin: 20px 0;
  }
  header .main .main-text span {
    font-weight: 300;
  }
  header .main .main-text .creative {
    background: -webkit-linear-gradient(-250deg, #a5cdfa, #fa9fd7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  header .main .main-text .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .main .main-text .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    min-height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #46042f;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
  }
  header .main .main-text .btn:hover {
    background-color: #680c48;
    position: relative;
    top: -5px;
    left: -5px;
  }
  header .main .main-text .btn:active {
    background-color: #941367;
  }
  header .main .main-text a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 930px) and (min-width: 600px) {
  header {
    padding: 4% 2%;
  }
  header .nav {
    margin: auto;
    font-weight: 300;
    font-style: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav .logo {
    max-height: 80px;
    width: 96vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .nav .sections {
    display: none;
    position: absolute;
    width: 0px;
    height: 0px;
  }
  header .main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main .main-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .main .main-image img {
    height: 90px;
    width: 50vw;
  }
  header .main .main-image img:hover {
    position: relative;
    top: -5px;
  }
  header .main .main-image .imgs1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-image .imgs2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main .main-image .imgs3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 20px;
    text-align: center;
  }
  header .main .main-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  header .main .main-text h4 {
    font-size: .8rem;
    font-weight: 500;
    color: #1d3e5ecb;
    margin: 5px 0;
  }
  header .main .main-text span {
    font-weight: 300;
  }
  header .main .main-text .creative {
    background: -webkit-linear-gradient(-250deg, #a5cdfa, #fa9fd7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  header .main .main-text .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .main .main-text .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    width: 120px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    background-color: #46042f;
    color: white;
    border-radius: 15px;
    font-size: .8rem;
  }
  header .main .main-text .btn:active {
    background-color: #941367;
  }
  header .main .main-text a {
    text-decoration: none;
  }
}
/*# sourceMappingURL=style.css.map */