* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: aliceblue;
  color: #0f0f0f;
}

header {
  margin-bottom: 2vw;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5vw 8vw;
  font-weight: 300;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .logo {
  height: 6vw;
}

header .nav .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header .nav .sections a {
  text-decoration: none;
  color: #0f0f0f;
}

header .nav .sections h3 {
  font-size: 1vw;
  margin-left: 4vw;
}

header .nav .sections h3:hover {
  position: relative;
  top: -.05vw;
}

header .nav .sections .fa-shopping-basket {
  margin-left: 3vw;
  font-size: 1.5vw;
}

header .nav .sections .fa-shopping-basket:hover {
  position: relative;
  top: -.05vw;
}

header .nav .sections input {
  width: 7vw;
  margin-left: 4vw;
  border: none;
  padding: 1vw 2vw;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: .2vw .2vw .4vw #507cdb41;
          box-shadow: .2vw .2vw .4vw #507cdb41;
}

header .nav .sections input:focus {
  -webkit-appearance: none;
  outline: none;
  -webkit-box-shadow: 0.3vw 0.3vw 0.5vw #507cdb5b;
          box-shadow: 0.3vw 0.3vw 0.5vw #507cdb5b;
}

header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8vw;
}

header .main .main-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .main .main-image img {
  height: 12vw;
}

header .main .main-image img:hover {
  height: 12.5vw;
}

header .main .main-image .image1 {
  position: absolute;
  top: 17vw;
  right: 34vw;
}

header .main .main-image .image2 {
  position: absolute;
  top: 25vw;
  right: 21vw;
}

header .main .main-image .image3 {
  position: absolute;
  top: 37vw;
  right: 31vw;
}

header .main .main-image .image4 {
  position: absolute;
  top: 37vw;
  right: 9vw;
}

header .main .main-image .image5 {
  position: absolute;
  top: 16vw;
  right: 9vw;
}

header .main .main-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main .main-text h1 {
  font-size: 5.5vw;
  font-weight: 700;
}

header .main .main-text h4 {
  font-size: 1vw;
  font-weight: 500;
  color: #1d3e5ecb;
  margin: 2vw 0;
}

header .main .main-text span {
  font-weight: 300;
}

header .main .main-text .creative {
  background: -webkit-linear-gradient(-250deg, #a5cdfa, #fa9fd7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

header .main .main-text .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main .main-text .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8vw;
  height: 3.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-top: .5vw;
  margin-bottom: 4vw;
  background-color: #46042f;
  color: white;
  border-radius: 15px;
  font-size: 1vw;
}

header .main .main-text .btn:hover {
  background-color: #680c48;
  position: relative;
  top: -.05vw;
  left: -.05vw;
}

header .main .main-text .btn:active {
  background-color: #941367;
}

header .main .main-text a {
  text-decoration: none;
}

.details {
  height: 56vw;
  background-color: #1674d1;
}
/*# sourceMappingURL=style.css.map */